<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HitachiEIP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <HitachiEIP.Properties.Settings>
            <setting name="IPAddress" serializeAs="String">
                <value>98.240.191.166</value>
            </setting>
            <setting name="IPPort" serializeAs="String">
                <value>44818</value>
            </setting>
            <setting name="TrafficFolder" serializeAs="String">
                <value>C:\Temp\EIP_Logs</value>
            </setting>
            <setting name="MessageFolder" serializeAs="String">
                <value>C:\GitHubEtherNetIP\Messages</value>
            </setting>
            <setting name="SoftwareVersion" serializeAs="String">
                <value>0</value>
            </setting>
        </HitachiEIP.Properties.Settings>
    </userSettings>
</configuration>