<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EIP_Base.ConfigSetings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EIP_Base.ConfigSetings>
            <setting name="IPAddress" serializeAs="String">
                <value/>
            </setting>
            <setting name="IPPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="SerialBaudRate" serializeAs="String">
                <value/>
            </setting>
            <setting name="SerialDataBits" serializeAs="String">
                <value/>
            </setting>
            <setting name="SerialParity" serializeAs="String">
                <value/>
            </setting>
            <setting name="SerialStopBits" serializeAs="String">
                <value/>
            </setting>
        </EIP_Base.ConfigSetings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
