<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HitachiProtocol_Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HitachiProtocol_Test.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HitachiProtocol_Test.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HitachiProtocol_Test.Properties.Settings>
            <setting name="IPAddress" serializeAs="String">
                <value>73.164.21.173</value>
            </setting>
            <setting name="IPPort" serializeAs="String">
                <value>4001</value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="SerialBaudRate" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="SerialDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SerialParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="SerialStopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="Tab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MessageFolder" serializeAs="String">
                <value>C:\Temp\EIP</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>(Select Log File).txt</value>
            </setting>
        </HitachiProtocol_Test.Properties.Settings>
        <HitachiProtocol_Test.Properties.Settings1>
            <setting name="x" serializeAs="String">
                <value />
            </setting>
        </HitachiProtocol_Test.Properties.Settings1>
        <HitachiProtocol_Test.Settings1>
            <setting name="IPAddress" serializeAs="String">
                <value />
            </setting>
        </HitachiProtocol_Test.Settings1>
    </userSettings>
</configuration>