<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModBus161.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ModBus161.Properties.Settings>
            <setting name="IPAddress" serializeAs="String">
                <value>192.168.168.100</value>
            </setting>
            <setting name="IPPort" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="MessageFolder" serializeAs="String">
                <value>C:\GitHubEtherNetIP\Messages</value>
            </setting>
            <setting name="HexAddress" serializeAs="String">
                <value>2490</value>
            </setting>
            <setting name="Length" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HoldingReg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TwinNozzle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Nozzle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HexData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogIO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppSpreadsheet" serializeAs="String">
                <value />
            </setting>
            <setting name="AppWorksheet" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AppPrimaryKey" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AppTemplate" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AppSrc" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="AppDst" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="StopOnErrors" serializeAs="String">
                <value>False</value>
            </setting>
        </ModBus161.Properties.Settings>
    </userSettings>
</configuration>